@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Varela+Round&display=swap');

/* --- GLOBAL ---*/
/* --------- SITE COLOURS ---------*/

.color-primary-0 {color: #606C38}

.color-primary-1 {color: #EEF4DB}

.color-primary-2 {color: #9DAA73}

.color-primary-3 {color: #425012}

.color-primary-4 {color: #242424}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* --- GENERAL ---*/



/* --- NAVIGATION --- */

#main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EEF4DB;
  box-shadow:  0 0px 20px 1px rgba(0,0,0,.6);
  padding: 8px 16px;
}

.navbar-brand {
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    color: #242424;
}

.nav-link {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1rem;
} 

/* --- HOME/INTRO --- */

.container {
    max-height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding: 0px 10px;
    z-index: -1;
}

#intro {
    background-image: url("/assets/images/ei-hero.png");
    background-color: #00000035;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: bottom;
    position: relative;
    height: 100vh;    
    z-index: 1;
}

.intro-text {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    margin-right: -1px;
    text-align: center;
}

hr {
    background-color: #fafafa;
}

.intro-text span {
    letter-spacing: 15px;
}

.h1-green {
  color: #169B62;
}

.h1-white {
  color: #ffffff;
}

.h1-orange {
  color: #FF8200;
}

/* --- ABOUT/TRIPS --- */



/* --- GALLERY --- */



/* --- CONTACT --- */



/* --- FOOTER --- */

footer {
    width: 100%;
    bottom: 0px;    
    height: 2.5rem;
    background-color: #EEF4DB;
    box-shadow: 0 1px 12px -2px rgba(0,0,0,.2);
    display: flex;
    align-items: center;
}

.social {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.copyright {
    width: 50%;
    margin: auto 10%;
}

.copyright i {
    margin-right: 5px;
}
.copyright img {
    width: 25px;
    height: auto;
    vertical-align: text-bottom;
    margin-left: 5px;
    opacity: .7;
}
/* --- RESPONSIVE RULES --- */

@media only screen and (min-width: 375px) {
    .container {
    margin-top: 45px;
    }
}
@media only screen and (min-width: 480px) {
    .container {
    margin-top: 50px;
    }
}

@media only screen and (min-width: 578px) {
    .container {
    margin-top: 60px;
}
}

@media only screen and (min-width: 768px) {
    .container {
    margin-top: 80px;
    }
    .intro-text {
        width: 66.666%;
    }
    .intro-text {
    width: 400px;
}
} 

@media only screen and (min-width: 992px) {
#navbarNav {
    justify-content: flex-end;
    max-width: fit-content;  
}
.navbar-brand {
    margin: 0px;
    padding: 10px;
}
 .container {  
    margin-left: 80px; 
    justify-content: flex-start
}
.intro-text {
    width: 500px;
}

}
