@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Varela+Round&display=swap");

/* --------- SITE COLOURS ---------*/

:root {
    --primary-bg-clr: #eef4db;
    --primary-txt-clr: #425012;    
    --secondary-bg-clr: rgba(60, 60, 60, 0.7);
    --secondary-txt-clr: #242424; 
    --off-white-txt-clr: #fafafa;
    --box-shadow: 0 1px 12px -2px rgba(0, 0, 0, 0.3);
}

.color-primary-0 {color: #606c38;}

.color-primary-2 {color: #9daa73;}


/* --- GLOBAL ---*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* --- GENERAL ---*/

body {
	font-family: "Cabin", sans-serif;
	font-weight: 100;
	font-size: 1.1rem;
	letter-spacing: 3px;
	line-height: 30px;
    color: var(--secondary-txt-clr);
}

h1,
h2,
h3 {
	color: var(--primary-txt-clr);
	font-family: "Varela Round", Verdana;
	letter-spacing: 3px;
}

h2 {
	letter-spacing: 2px;
}

section {
	min-height: 100vh;
	padding-top: 56px;
}

.page-title {
	background-color: var(--primary-bg-clr);
	margin: 50px 0px;
	padding: 5px 2px;
	text-align: center;
	border-radius: 8px;
	box-shadow: var(--box-shadow);
}

.page-title h2 {
	margin: 8px 0px;
}

/* --- NAVIGATION --- */

#main-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background-color: var(--primary-bg-clr);
	-webkit-box-shadow: var(--box-shadow);
	box-shadow: var(--box-shadow);
	padding: 8px 16px;
}

.navbar-brand {
	font-family: "Varela Round", Verdana;
	font-weight: 500;
	letter-spacing: 2px;
	color: var(--secondary-txt-clr);
}

.nav-link {
	font-family: "Varela Round", Verdana;
	font-size: 1.1rem;
}

/* --- HOME/INTRO --- */

#intro {
	padding-top: 35px;
	z-index: -10;
}

.intro-box {
	width: 100%;
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0px 10px;
	z-index: -1;
}

#intro {
	background-image: url("../images/hero.png");
	background-color: var(--secondary-bg-clr);
	background-blend-mode: overlay;
	background-size: cover;
	background-position: bottom;
	position: relative;
	height: 100vh;
	z-index: 1;
}

.intro-text {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 10px;
	border-radius: 8px;
	text-align: center;
	-webkit-box-shadow: var(--box-shadow);
	box-shadow: var(--box-shadow);
}

.intro-text h2 {
	color: var(--primary-bg-clr);
	margin: 1.1rem 0rem;
}

.intro-text h1 {
	margin-left: 10px;
}

.intro-hr {
	background-color: var(--primary-bg-clr);
	height: 1.5px;
	width: 75%;
	margin: 1rem auto;
}

.intro-text span {
	letter-spacing: 15px;
}

.h1-green {
	color: #169b62;
}

.h1-white {
	color: #ffffff;
}

.h1-orange {
	color: #ff8200;
}

/* --- ABOUT/TRIPS --- */

.card {
	margin: 15px 0px;
	padding: 5px;
	border: none;
	border-radius: 8px;
	box-shadow: var(--box-shadow);
}

.card-body {
	background-color: var(--primary-bg-clr);
}

.card h2 {
	text-align: center;
	margin-bottom: 1.2rem;
	font-size: 1.4rem;
}

.jumbotron-fluid {
	padding: 10px 5px;
	border-radius: 8px;
	box-shadow: var(--box-shadow);
}

.about-text h3 {
    text-align: center;
    margin: 20px 0px;
}

.about-text hr {
    background-color: var(--primary-txt-clr);
    opacity: .3;
    margin: 10px auto;    
}

.about-text a {
    color: var(--primary-txt-clr);
    font-weight: 600;
    text-transform: uppercase;
}

/* --- GALLERY --- */

.image img {
    margin: 8px 0px;
    box-shadow: var(--box-shadow);
}

#gallery i {
    font-size: 200%;
    color: var(--primary-bg-clr);
    }

.carousel-indicators {
    margin-bottom: 40px;
    }

.carousel-indicators li {
    background-color: var(--primary-bg-clr);
}

.carousel-item {
    max-height: 92vh;    
}

/* --- CONTACT --- */

/* --- https://css-tricks.com/snippets/css/transparent-background-images - Background image opacity.*/

#contact {
	display: block;
    position: relative;
	
}

#contact::after {
    content:"";
    background: url("../images/lake-view.png");
    background-size: cover;
	background-position: center;
    opacity: .6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/* --- Credit: Form background inspiration from CI Love Running mini-project ---*/

form {
    margin: 0 auto 70px;
	color: var(--off-white-txt-clr);
	background-color: var(--secondary-bg-clr);
	border-radius: 8px;
	padding: 25px;
	box-shadow: var(--box-shadow);
        -webkit-box-shadow: var(--box-shadow);
}

.text-input {
	background: transparent;
	color: var(--off-white-txt-clr);
	width: 100%;
	height: 25px;
	margin: 5px 0 15px 0;
	border: 1px solid var(--primary-bg-clr);
	border-radius: 8px;
}

.radio-btn label {
	margin: 0 0 0.5rem 0.5rem;
}

.all-text {
	text-transform: uppercase;
}

.send-hr {
	background-color: var(--primary-bg-clr);
}

/* --- Credit: button colour-slide inspiration from https://jsfiddle.net/shuvamallick/3o0h5oka/ ---*/

.send-btn {
	width: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 5px auto;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 8px;
	background-color: var(--primary-bg-clr);
	border: 1px solid var(--primary-txt-clr);
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
	-webkit-box-shadow: inset 0 0 0 0 var(--primary-txt-clr);
	box-shadow: inset 0 0 0 0 var(--primary-txt-clr);
	-webkit-transition: all ease 0.8s;
	-o-transition: all ease 0.8s;
	transition: all ease 0.8s;
}

.send-btn:hover {
	-webkit-box-shadow: inset 100px 0 0 0 var(--primary-txt-clr);
	box-shadow: inset 100px 0 0 0 var(--primary-txt-clr);
	border: 1px solid var(--primary-bg-clr);
	color: var(--primary-bg-clr);
}


/* --- FOOTER --- */

footer {
	width: 100%;
	bottom: 0px;
	height: 2.5rem;
	background-color: var(--primary-bg-clr);
	-webkit-box-shadow: var(--box-shadow);
	box-shadow: var(--box-shadow);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: fixed;
	z-index: 1020;
}

.copyright {
	width: 60%;
	margin: auto 8px;
	font-size: 0.8rem;
}

.copyright i {
	margin-right: 5px;
}

.copyright img {
	width: 25px;
	height: auto;
	vertical-align: text-bottom;
	margin-left: 5px;
	opacity: 0.7;
}

.social {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 40%;
	margin: auto 5%;
}

.social i {
	font-size: 1rem;
	margin: 5px;
	padding: 5px;
}

.fa-facebook {
	color: #4267b2;
}

.fa-twitter {
	color: #00acee;
}

.fa-youtube-square {
	color: #ff0000;
}

.fa-instagram {
	color: #f56040;
}

/* --- RESPONSIVE RULES --- */


@media only screen and (min-width: 480px) {
    .social i {
        font-size: 1.1rem;
    }
    form {
    padding: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .page-title {
        margin: 60px 0px;
    }
    .intro-text {
        width: 66.666%;
    }
    .about-text {
        padding: 25px 25px 0px;
    }
    .card h2 {
        margin-bottom: 1.8rem;
        font-size: 2rem;
    }
    form {
    padding: 50px 80px;
    }
}

@media only screen and (min-width: 992px) {
    #navbarNav {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
    }
    .navbar-brand {
        margin: 0px;
        padding: 10px;
    }
    .intro-text {
        width: 500px;
    }
    .card {
        text-align: justify;
        margin: 20px 15px;
        padding: 10px;
    }
    .about-text {
        padding: 35px 35px 0px;
    }    
    .social i {
        font-size: 1.3rem;
    }
    .text-input {
        height: 30px;
    }
    .copyright {
        font-size: 1rem;
        margin-left: 30px;
    }
}
@media only screen and (min-width: 1024px) {    

    form {
    padding: 40px 120px;
    }
    footer {
        height: 2.8rem;
    }
}
	